<link rel="stylesheet" href="styling.css">
<head>
<img src="imgs/synchrony.png" alt="" height="280" width="670" style="position: absolute; left: 50%;">
  <h1 style="font-size:40px; color:white;">Syncrawler</h1>
  <h3>Web crawler for Synchrony</h3>
</head>

<body>
<h2 style="color:white; font-size:27px;">Team Members</h2>
<ul>
  <li>Josh Schmellenkamp</li>
  <li>Aaron Pirc</li>
  <li>Morgan Weiss</li>
  <li>Kevin Yeboah</li>
</ul>


<h2 style="color:white; font-size:27px;">Company Mentors</h2>
<ul>
  <li>Ravish Kumar</li>
  <li>Joydeep Mukherjee</li>
  <li>Vish Dadireddy</li>
</ul>
Synchrony Financial

950 Forrer Blvd, Kettering OH 45420
<br> <br>
<button onclick="window.location.href = 'https://docs.google.com/presentation/d/1-qRKLMlLlb_gSzvBVkLNK3PEA-3ijFdRY6yYw9xEen8/edit#slide=id.p';">Slides</button>
<button onclick="window.location.href = 'https://trello.com/b/NeXN7C1G/search-plug-in';">Trello Board</button>
<button onclick="window.location.href = 'https://www.youtube.com/watch?v=PNwqR3eP7Qk';">Demo</button>
<button onclick="window.location.href = 'FinalREADME.pdf';">PDF Read Me</button>



<br>
<h3 style="color:white; font-size:27px;">Project Overview</h3>
<p>Our project will be a plug-in for searching key words
  on a company's website. For this a company must implement
   our JavaScript code in their own source code. After doing
   this Users of the company's site will be able to search
   key words, our search funtion will return the results of
   the search.</p>

   <img src="imgs/implementation.PNG" alt="" height="454.5" width="1189.5">

<br>
   <h3 style="color:white; font-size:27px;">Database Information</h3>
  <p> We will be using Firebase by Google. Websites that
    insert our plug-in will be crawled via our crawler.
     That data will then be stored in Firebase. </p>
<br>
  <h3 style="color:white; font-size:27px;">User Interface Information</h3>
   <p>This will be a basic search bar, with the ability to be
   implemented on to any website. The results displayed
   will be the first 10 results. The display will include
   a short phrase from the website where the keyword
   is found. The keyword will be bolded. In
   addition, the url (including the path to the specific page)
    will be displayed to the user.</p>

<br>
   <h3 style="color:white; font-size:27px;">User Requirements</h3>
   <ol>
     <li>
       Meet with Synchrony to make sure we are on the right track and finalize project requirements
     </li>
  <li>
    Determine what tools we are using for the project (as of now we know we are using Node.js for back-end development and angularJS for front-end development)
  </li>
  <li>
    Create an overview for how the web crawler will work (front-end connecting to back-end, sending/receiving requests, etc...)
  </li>
  <li>
    Working prototype
  </li>
  <ul>
    <li>
      User can plug search engine into any particular website & it functions as expected
    </li>
  </ul>
   </ol>
<br>
  <h3 style="color:white; font-size:27px;">Crawler Overview</h3>
  <ol>
    <li>Launch Heroku (therefore launching all servers)</li>

    <li> Visit website with script already implemented, then enter [KEYWORD] to activate crawler (Front-end)</li>

    <li>Crawler will make a request to website</li>

    <li>Request will obtain data via html and pass it along to the web server (Front-end connects/communicates with the back-end)</li

    <li>   Server will "run" through the data and pull the info you want (keywords)</li>

    <li>  Clean the data to a format desired</li>

    <li>Print the information via Front-end (JSON, server log, .txt file, discuss with Synchrony)</li>
  </ol>
<br>
  <h3 style="color:white; font-size:27px;">Implementation</h3>
  <ul>
    <li>   Currently testing with a simple functioning website</li>
    <li>   Storing website data with Kafka (this is what will continuously crawl our site)</li>
  </ul>
    <p> We have two servers: - One server continuously crawls and indexes the website - One server does the search when use inputs [KEYWORD]</p>
<br>
   <h3 style="color:white; font-size:27px;">Software Process Management</h3>
    <p> Introduce how your team uses a software management process, e.g., Scrum, how your teamwork, collaborate.</p>
    <p>Include the Trello board with product backlog and sprint cycles in an overview figure and also in detail description. (Main focus of Sprint 0)</p>
    <p> Also, include the Gantt chart reflects the timeline from the Trello board. (Main focus of Sprint 0)</p>
  </body>
