head {
  margin: 50px;
}
body {
  background-color: #5CDB95;
  color: #05386B;
  margin-left: 9%;
  margin-right: 15%;
  padding-bottom: 2em;
}

body p
{
  margin-left: auto;
  margin-right: 300px;
}

body ol, ul
{
  margin-left: auto;
  margin-right: 300px;
}

body button
{
  box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:12px 42px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
	margin-left: 4%;
}

body Tbutton
{
  box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:12px 42px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}

